@import url(reset-css.css);

body {
  font-size: 10px;
  font-family: Merriweather;
  color: #043a56;
}

h1 {
  font-size: 2rem;
  font-family: 'DM Serif Text', serif;
}

h2 {
  font-size: 1.5rem;
  font-family: Open Sans;

}

a {
  font-size: 0.7rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 1rem;
  align-items: center;
  background-color: white;
}

.nav a {
  text-decoration: none;
  display: flex;
  padding: 1.8rem 1rem;
}

.nav a:hover {
  background: #caccce;
}

.nav-section {
  display: flex;
  flex-direction: row-reverse;
}

.logo {
  margin-left: 1rem;
  flex-grow: 1; /* element logo został rozszerzony o pozostałą wielkość */

}

.naglowek {
  justify-content: center;
  text-align: center;
  background: grey;
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
  padding: 1rem;
}

.sek5 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: tomato;
  
}

.stop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 100vw;
  height: 10vh;
}




@media all and (max-width: 400px) {
  .nav a {
    padding: 1.8rem 0.5rem;
  }

  .nav {
    margin-right: 0rem;
  }

  .logo {
    margin-left: 0.2rem;
}
}

@media all and (max-width: 300px) {
  .nav a {
    padding: 1.8rem 0.5rem;
  }

}

/* @media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .nav li:last-of-type a {
    border-bottom: none;
  }
}
 */
